body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: linen;
}

h1 {
font-size: 50px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
margin-bottom: 0px;
}
h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    }

h3 {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        color: slateblue;
    }

p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
img {
width: 70%;
padding-left: 20%;
align-self: left;
}

a {
    color: slateblue;
}

CLASS
.span {
    color: teal;
}

.leftdiv{
    float: left;
    width: 50%;
}
.rightdiv{
    float: right;
    width: 50%;
}

.columnleft{
    float: left;
    width: 50%;
}

.columnright{
    float: right;
    width: 50%;
}

.figtxt {
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
hr{
    width: 600px;
    color: slateblue;
}

#headercolor{
    color: cornflowerblue;
}

@media{
    max-width: 100%;
    display: block;
    height: auto;
}