body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: linen;
}

div {
font-size: 50px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

.span {
    color-adjust: blue;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }